.loanbanner{
    width: 100%;
    height: 100vh;
    background-image: url(Loan_1.jpg);
    background-size: cover;
    background-position: center;
}
.details input {
	width: 100%;
}
.details{
	padding-top: 120px;
    padding-right: 100px;
}
.detail {
	display: flex;
	justify-content: space-between;
	margin-bottom:10px ;
}

input[type="range"] {
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;
}

input[type="range"]:focus {
	outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 6px;
	cursor: pointer;
	background: #9088d2;
	border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
	box-shadow: 2px 2px 5px #b3b3b3, -1px -1px 3px grey;
	border: 5px solid #ffffff;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #9088d2;
	cursor: pointer;
	margin-top: -6px;
	-webkit-appearance: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
	background: #b3b3b3;
}

input[type="range"]::-moz-range-track {
	width: 100%;
	height: 6px;
	cursor: pointer;
	background: #9088d2;
	border-color: transparent;
	border-width: 16px 0;
	color: transparent;
	border-radius: 10px;
}

input[type="range"]::-moz-range-thumb {
	box-shadow: 2px 2px 5px #b3b3b3, -1px -1px 3px grey;
	border: 5px solid #ffffff;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #9088d2;
	cursor: pointer;
	margin-top: -6px;
}

input[type="range"]::-ms-track {
	width: 100%;
	height: 6px;
	cursor: pointer;
	background: #9088d2;
	border-color: transparent;
	border-width: 16px 0;
	color: transparent;
	border-radius: 10px;
}

input[type="range"]::-ms-fill-lower {
	background: #9088d2;
	border-radius: 5px;
}

input[type="range"]::-ms-fill-upper {
	background: #9088d2;
	border-radius: 5px;
}

input[type="range"]::-ms-thumb {
	box-shadow: 2px 2px 5px #b3b3b3, -1px -1px 3px grey;
	border: 5px solid #ffffff;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #9088d2;
	cursor: pointer;
	margin-top: -6px;
}

input[type="range"]:focus::-ms-fill-lower {
	background: #9088d2;
}

input[type="range"]:focus::-ms-fill-upper {
	background: #9088d2;
}
 .bankoption{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} 
.banksinner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loandetails{
	display: flex;
    justify-content: space-around;
    align-items: baseline;
	margin-bottom: 10px;
}
.tenureRange{
	width: 75% !important;
}
.interestRange{
	width: 75% !important;
}